/* Font style */
body,
html {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

/* Responsive */
/* PC */
@media (min-width: 1240px) {
  .slider {
    /* margin-top: var(--header-search-height-mobile); */
    height: 450px;
  }
  .hide-on-PC {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .hide-on-PC {
    display: none;
  }

  .slider {
    height: 350px;
  }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }

  .films__recomend {
    padding: 0 10px;
    /* box-sizing: border-box; */
  }

  .films__recomend-list-film::-webkit-scrollbar {
    display: unset;
    /* width: 0; */
  }

  .introduce__wrap {
    padding: 0 10px;
  }

  .introduce__container-info {
    margin-bottom: 30px;
    padding: 0;
  }

  .introduce__container-info > b {
    font-size: var(--font-size-large);
  }

  .introduce__container-info > span {
    font-size: var(--font-size-small);
  }

  .introduce__container-series {
    height: 300px;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }

  .navbar-menu-item {
    padding: 8px 8px;
  }

  .navbar-menu-item-icon {
    margin-left: 4px;
    font-size: 8px;
  }

  .navbar-menu-item-lable {
    font-size: var(--font-size-super-small);
  }

  .slider {
    height: 300px;
  }

  .player-container {
    min-height: 300px;
    height: unset;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .header__navbar-with-search {
    height: var(--header-search-height-mobile);
  }

  .header__navbar-search-wrap {
    position: absolute;
    /* top: calc(0px - var(--header-search-height-mobile)); */
    top: 100%;
    /* height: var(--header-search-height-mobile); */
    height: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    transition: 0.3s;
    box-sizing: border-box;
    border: none;
  }

  .header__text-logo b {
    font-size: var(--font-size);
  }

  .header__navbar-menu-mobile {
    position: relative;
  }

  .header__navbar-menu-mobile-list {
    position: absolute;
    width: 100%;
    height: calc(100vh - var(--header-search-height-mobile));
    top: 100%;
    right: -100%;
    background-color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    color: black;
    transition: 0.3s;
    z-index: 3;
  }

  .header__navbar-menu-mobile-item {
    padding: 30px 0;
    font-size: var(--font-size-small);
    text-align: center;
  }

  .slider {
    margin-top: var(--header-search-height-mobile);
    height: 250px;
  }

  .slider__list-item {
  }

  .slider__list-item-title {
    top: 5%;
    left: 5%;
  }

  .slider__list-item-title > b {
    font-size: var(--font-size);
  }

  .slider__list-thumb {
    height: 40px;
  }

  .slider__list-thumb-item {
    width: 40px;
    height: 20px;
    margin-right: 10px;
  }

  .ranking__tab,
  .ranking__list,
  .top__list {
    padding: 0 10px;
  }

  .introduce,
  .player {
    margin-top: var(--header-search-height-mobile);
  }
  .player-container {
    min-height: 100px;
    height: unset;
  }
}
