/* HOME */
body {
  background-image: url(../img/bg-page.jpeg);
  position: relative;
}

:root {
  /* color */
  --primiry-color: rgba(2, 13, 24, 1);
  --secondary-color: rgba(2, 13, 24, 0.5);
  --white-color: #f5f5f5;
  --text-color: rgb(32, 32, 32);

  /* Height */
  --header-height: 120px;
  --header-search-height: 80px;
  --header-search-height-mobile: 60px;
  --slider-heigth: 450px;

  /* Font size */
  --font-size: 1.4rem;
  --font-size-large: 2.4rem;
  --font-size-large-super: 3.2rem;
  --font-size-small: 1rem;
  --font-size-medium-small: 0.9rem;
  --font-size-super-small: 0.8rem;
}

/* Header */
.header {
  width: 100%;
  color: var(--white-color);
  background-image: url(../img/bg-page.jpeg);
  position: sticky;
  top: 0;
}

.header__navbar-with-search {
  width: 100%;
  height: var(--header-search-height);
}

.header__navbar-logo-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__text-logo b {
  font-size: var(--font-size-large);
  border: 1px solid var(--white-color);
  border-radius: 5px;
  padding: 0 8px;
}

.header__navbar-search-wrap {
  background-color: var(--primiry-color);
  height: calc(var(--header-search-height) - 40px);
  width: 400px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #9b9999;
  box-sizing: border-box;
}

.header__navbar-search-input {
  height: 100%;
  flex: 1;
  outline: none;
  border: none;
  margin-left: 12px;
  background-color: transparent;
  color: var(--white-color);
  font-size: var(--font-size-super-small);
}

.header__navbar-search-icon {
  width: 40px;
  height: 100%;
  cursor: pointer;
}

/* Mobile */
.header__navbar-icon-mobile {
  font-size: var(--font-size);
  padding: 0 16px;
}
#search-on-mobile {
  display: none;
}
#search-on-mobile:checked ~ .header__navbar-search-wrap {
  /* top: calc(var(--header-search-height-mobile)); */
  height: var(--header-search-height-mobile);
}

/* Header menu */
.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--white-color);
  position: -webkit-sticky;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu-item {
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color linear 0.1s;
  position: relative;
}

.navbar-menu-item:hover {
  background-color: var(--white-color);
  color: var(--primiry-color);
  box-sizing: border-box;
}

.navbar-menu-item-lable {
  font-size: var(--font-size-small);
}

.navbar-menu-item-icon {
  font-size: 10px;
  margin-left: 12px;
}

.navbar-menu-item-has-list {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 600px;
  background-color: var(--white-color);
  opacity: 0;
  transition: opacity linear 0.4s;
  display: none;
  z-index: 10;
}

.navbar-menu-item:hover .navbar-menu-item-has-list {
  display: block;
  opacity: 1;
}

.navbar-menu-item-has-list-item {
  padding: 20px 0;
  font-size: var(--font-size-medium-small);
}

.navbar-menu-item-has-list-item:hover {
  text-decoration: underline;
}

/* Slider */
.slider {
  width: 100%;
  height: var(--slider-heigth);
  position: relative;
  display: block;
  overflow: hidden;
}

.slider__list {
  width: 500%;
  height: 100%;
  display: flex;
  overflow: hidden;
  box-sizing: content-box;
}

.slider__list-item {
  width: 20%;
  height: 100%;
  overflow: hidden;
  box-sizing: content-box;

  background-image: url(https://media.voocdn.com/media/image/id/6014d0ecacc39929ac8b458f_720x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  transition: 1s;
}

.slider__list-item-title {
  position: absolute;
  top: 40px;
  left: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  padding: 10px 20px;
  border-radius: 10px;
}

.slider__list-item-title b {
  font-size: var(--font-size-large);
  margin-bottom: 16px;
}

.slider__list-thumb {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
}

.slider__list-thumb-item {
  width: 90px;
  height: 50px;
  margin-right: 20px;
  background-image: url(https://media.voocdn.com/media/image/id/6014d0ecacc39929ac8b458f_720x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  cursor: pointer;
}

.slider__list-thumb-item-active {
  border: 1px solid var(--white-color);
}

.slider__control {
  display: none;
}

#slider__control-1:checked ~ .slider__list-item.slider__list-item-first {
  margin-left: 0;
}

#slider__control-2:checked ~ .slider__list-item.slider__list-item-first {
  margin-left: -20%;
}

#slider__control-3:checked ~ .slider__list-item.slider__list-item-first {
  margin-left: -40%;
}

#slider__control-4:checked ~ .slider__list-item.slider__list-item-first {
  margin-left: -60%;
}

/* FILM */
.films {
  background-color: var(--primiry-color);
  color: var(--white-color);
  /* background-color: white; */
}

.films__recomend {
}

.films__recomend-title {
  padding: 10px 0;
}

.films__recomend-title-tag,
.ranking__title {
  font-size: var(--font-size);
  font-weight: 600;
  text-transform: uppercase;
}

.films__recomend-title-get-all {
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--font-size-super-small);
  color: var(--white-color);
  transition: color linear 0.2s;
  cursor: pointer;
}

.films__recomend-title-get-all:hover {
  color: #dcf836;
}

.films__recomend-list-film {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: scroll;
  transition: 1s;
  margin-bottom: 20px;
}

/* Handle */

.films__recomend-list-film::-webkit-scrollbar {
  width: 8px;
  transition: 1s;
}

.films__recomend-list-film::-webkit-scrollbar-track {
  background: transparent;
}

.films__recomend-list-film::-webkit-scrollbar-thumb {
  background-color: transparent; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border-top: 3.15px solid var(--primiry-color);
  border-bottom: 3.15px solid var(--primiry-color);

  transition: 0.2s;
}

.films__recomend-list-film:hover::-webkit-scrollbar-thumb {
  background-color: white;
}

.films__recomend-film-item {
  /* height: 150px; */
  min-width: 180px;
  display: block;
  /* background-color: white; */
}

.films__recomend-film-item:not(:last-child) {
  margin-right: 10px;
}

.films__recomend-film-item-link {
  text-decoration: none;
  color: var(--white-color);
  position: relative;
  display: block;
  transition: color linear 0.2s;
}

.films__recomend-film-item-link:hover {
  color: #dcf836;
}

.film__recomend-film-item-thumbnail {
  width: 100%;
  height: 200px;
  background-image: url("https://media.voocdn.com/media/image/id/5f64c48dacc39977a48b456a_300x");
  background-size: cover;
  background-position: center;
}

.film__recomend-film-item-tag {
  position: absolute;
  padding: 8px 8px;
  top: 4px;
  left: 4px;
  font-size: var(--font-size-super-small);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

.film__recommend-film-item-info {
  padding: 10px 0px;
}

.film__recommend-film-item-info-name {
  font-size: var(--font-size-small);
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.film__recommend-film-item-info-sub-name {
  font-size: var(--font-size-super-small);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ranking {
  display: flex;
  flex-direction: column;
  background-color: #01060a;
}

.ranking__title {
  padding: 12px 0;
  margin: 0 12px;
  line-height: 34.4px;
}

.ranking__tab {
  margin: 0;
  list-style: none;
  display: flex;
  background-color: var(--primiry-color);
}

.ranking__tab-item {
  height: 100%;
  font-size: var(--font-size-super-small);
  flex: 1;
  text-transform: uppercase;
  box-sizing: border-box;
  /* padding: 10px 0; */
  height: 40px;
  cursor: pointer;
  border-bottom: 2px solid var(--primiry-color);

  transition: 0.3s;
}
.ranking__tab-item:hover,
.ranking__tab-item-active {
  background-color: #01060a;
  border-bottom: 2px solid red;
}

.ranking__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  opacity: 0;
  transition: opacity linear 1s;
  height: 800px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
}
/* .ranking__list: */

.ranking__list::-webkit-scrollbar {
  display: none;
}

.ranking__list-item {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 140px;
  list-style: none;
  padding: 0;
  position: relative;
}

.ranking__list-item-link {
  text-decoration: none;
  color: var(--white-color);
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.ranking__list-item-thumb {
  background-image: url(https://media.voocdn.com/media/image/id/603476ddacc399668b8b463d);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.ranking__list-item-info {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px 10px 5px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.ranking__list-item-name {
  font-size: var(--font-size-small);
  line-height: 22px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ranking__list-item-subname {
  font-size: var(--font-size-super-small);
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ranking__list-item-tag {
  font-size: var(--font-size-super-small);
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #ea000b;
  display: inline-block;
}

.ranking__list-item-rank {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  background-color: grey;
  width: 30px;
  height: 30px;
  padding-left: 12px;
  line-height: 30px;
  border-bottom-left-radius: 100%;
}

.ranking__list-item:nth-child(1) .ranking__list-item-rank {
  background: #ea000b;
}

.ranking__list-item:nth-child(2) .ranking__list-item-rank {
  background: #ef8a0d;
}

.ranking__list-item:nth-child(3) .ranking__list-item-rank {
  background: #f5c824;
}

/* Top film */
.top-film .ranking__title {
  margin-top: 20px;
}

.top__list {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top__list .ranking__list-item:first-child {
  margin-top: 10px;
}

/* Footer */
.footer {
  height: 300px;
  display: flex;
}

.footer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}

.footer-logo-link {
  margin-bottom: 50px;
  text-decoration: none;
  color: var(--white-color);
}

.footer__text-logo > b {
  border: 1px solid var(--white-color);
  border-radius: 5px;
  font-size: var(--font-size-large);
  padding: 5px 10px;
}

.footer-container > p {
  padding: 0 20px;
  margin: 8px 0;
  text-align: center;
}

/* Detail film - Introduce film */
.introduce {
  overflow: hidden;
  position: relative;

  /* background-image: url(https://media.voocdn.com/media/image/id/605aa43cacc39972078b456b); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}

.introduce__background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: transform 0.5s;
}

.introduce__wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  padding: 40px 0;
  box-sizing: border-box;
}

.introduce__wrap:hover ~ .introduce__background {
  transform: scale(1.1);
}

.introduce__container-info {
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  height: 100%;
  justify-content: center;
}

.introduce__container-info > b {
  font-size: var(--font-size-large-super);
  margin-bottom: 20px;
}

.introduce__container-info > span {
  font-size: var(--font-size);
  color: rgba(255, 255, 255, 0.7);
}

.introduce__container-series {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  height: 420px;
  justify-content: center;
}

.introduce__container-tab {
  width: 100%;
  height: 40px;
  display: flex;
}

.introduce__container-tab-item-lable {
  flex: 1;
  text-align: center;
  line-height: 40px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background linear 0.2s;
}

.introduce__container-tab-item-lable-active,
.introduce__container-tab-item-lable:hover {
  border-bottom: 3px solid #a70000;
  background-color: rgba(0, 0, 0, 0.4);
}

.introduce__container-tab-body {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.introduce__container-tab-body::-webkit-scrollbar {
  width: 5px;
}

.introduce__container-tab-body::-webkit-scrollbar-track {
  background: transparent;
}

.introduce__container-tab-body::-webkit-scrollbar-thumb {
  background-color: transparent; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */

  transition: 0.2s;
}

.introduce__container-tab-body:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

.introduce__container-tab-body-item {
  height: 100%;
  display: none;
}

.introduce__container-serie-title {
  padding: 10px 0;
  font-size: var(--font-size);
}

.introduce__container-serie-container {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  display: flex;
}

.introduce__container-serie-item {
  background-color: #dd003f;

  padding: 6px 12px;
  text-align: center;
  border-radius: 4px;
  font-size: var(--font-size-super-small);
  line-height: var(--font-size-super-small);
  cursor: pointer;

  margin-bottom: 10px;
  transition: background linear 0.1s;
}

.introduce__container-serie-item:not(:first-child) {
  margin-left: 15px;
}

.introduce__container-serie-item:hover {
  background-color: #a70000;
}

.introduce__container-serie-item-link {
  text-decoration: none;
  color: var(--white-color);
}

.introduce__infomation {
  line-height: 30px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: var(--font-size-medium-small);
}

.introduce__trailer {
  width: 100%;
  height: 100%;
}

/* Player */
.player {
  background-image: url("https://media.voocdn.com/media/image/id/5f5860fbacc3998bd98b458e");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.player-wrap {
  background-color: rgba(0, 0, 0, 0.92);
  padding: 20px 0;
}

.player-container {
  height: 600px;
  position: relative;
  background-color: rgba(0, 0, 0);
}

.player__video {
  width: 100%;
  height: 100%;
}

.player-control {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;

  opacity: 0;
  transition: all 0.2s;
}

.player-control:hover {
  opacity: 1;
}

.player-control__noti {
  width: 100%;
  padding-left: 5%;
  display: flex;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.player-control__noti-icon {
  font-size: var(--font-size-large-super);
}

.player-control__noti-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.player-control__noti-title > span {
  font-size: var(--font-size-small);
  margin-bottom: 5px;
}

.player-control__noti-title > b {
  font-size: var(--font-size);
  font-weight: 700;
  text-transform: uppercase;
}

.player-control__btn-control {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.player-control__time {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.player-control__btn-container {
  display: flex;
}

.player-control__btn {
  /* padding: 8px 8px; */
  width: 40px;
  height: 40px;
  font-size: 18px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s;
  position: relative;
  box-sizing: border-box;
  font-weight: 500;
}

.player-control__btn:hover {
  color: red;
  background-color: rgba(255, 255, 255, 0.1);
}

.volumn__slider {
  position: absolute;
  width: 40px;
  bottom: 100%;
  left: 0;
  display: none;
}

.volumn__slider > input {
  height: 80px;
  width: 8px;
  -webkit-appearance: slider-vertical;
}

.volumn__slider-custom::-webkit-slider-thumb {
  /* -webkit-appearance: none; */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer;
}

.btn-volumn:hover .volumn__slider {
  display: flex;
}

.player-control__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: height linear 0.2s;
  z-index: 4;
}

.player-control__progress:hover {
  height: 10px;
}

.player-control__progress-fill {
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--white-color);
}
